/* Colors
  blue #4484CE
  orange #F19F4D
  yello accent #F9CF00
  grey #D9D9D9
*/





/*            Font             */

body {
  color: #66615b;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;;
}

.blue-text {
  color: #4484CE;
}




/*            Nav Bar             */
.navbar{
  border: 0 none;
  transition: all 0.4s;
  font-size: 14px;
}

.navbar .navbar-brand {
  font-weight: 200;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 30px;
  color: #F19F4D;
}

.navbar li {
  margin-top: 13px;
  margin-bottom: 13px;
}

.navbar-default {
  background-color: white;
  border-color: #080808;
}





/*            Button             */

.btn, .navbar .navbar-nav > li > a.btn {
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 2px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 18px;
  border-color: #66615B;
  color: #66615B;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-color: #4484CE;
  color: rgba(255, 255, 255, 0.7);
  border-color: #4484CE;
}

.btn:hover .caret, .btn:focus .caret, .btn:active .caret, .btn.active .caret, .open > .btn.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}






/*            Body             */

.landing-header {
  background-size: cover;
  min-height: 800px;
}

.landing-header .header-title {
  padding-top: 20%;
  text-align: center;
  z-index: 3;
  font-size: 40px;
  color: white;
}

h1 {
  font-size: 2.5em;
}

.section-blue {
  padding: 30px 0;
  position: relative;
  background-color: #4484CE;
  background-image: linear-gradient;
  text-align: center;
  color: white;
}

.section-white {
  padding: 50px 0;
  position: relative;
  text-align: center;
}

.section-blog {
  padding: 50px 0;
  position: relative;
  text-align: center;
}

.section-gray {
  padding: 50px 0;
  position: relative;
  background-color: #D9D9D9;
  background-image: linear-gradient;
  text-align: center;
}


.footer-blue {
  background-color: #4484CE;
  color: white;
  list-style: none;
}

.footer-blue li {
  list-style: none;
  display: inline-block;
  padding: 15px 10px 10px;
}

.footer-blue .copyright {
  padding-top: 15px;
}

.footer-blue ul {
  padding-left: 0px;
}

.footer-blue nav > ul a:not(.btn) {
    color: white;
    padding-left: 0px;
}

.orange-title h1 {
  font-size: 2.5em;
  color: #F19F4D;
}

.blue-title h1 {
  font-size: 2.5em;
  color: #4484CE;
}

.profile {
  width: 140px;
}
